Library/
Library/Bee/
obj/
temp/
Logs/
*.dll
*.pdb
*.rsp
*.mvfrm
.consulo/
*.csproj
*.sln
*.suo
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.gradle/
*.apk
*.aab
*.app
*.bin
Library/Bee
